body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

#entete {
  max-height: 30%;
  overflow: auto;
  border-bottom: 1px solid black;
}

#filariane {
  margin: 0;
  padding: 0 3px 3px 24px;
  /*background: url(images/information.gif) no-repeat left center;*/
  font-style: italic;
  min-height: 16px;
}

#filariane .highlight {
  color: #660000;
  font-weight: bold;
}

#lienReponse, #lienConsigne, #lienInfo {
  padding: 2px 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  float: right;
  display: none;
  cursor: pointer;
  height: 18px;
  width: 7em;
  text-align: center;
}

.lienSuivant {
  cursor: pointer;
  margin: 0 5px;
}

.invisible {
  display: none;
}

#page {
  z-index: 1;
  width: 98%;
  min-height: 70%;
  overflow: auto;
  margin: 0 2px;
}

#urlSrc {
  margin-right: 2em;
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}

#envoi {
  margin: 0.2em auto;
  display: block;
}

.ui-dialog-titlebar {
  /* idem $color-info-bg de la sesatheque */
  background-color: #d9edf7;
}
